body {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: minmax(180px,1fr) minmax(200px,5fr);
    grid-template-rows: 1fr 6fr;
}

.sidebar{
    background-color: rgb(73, 164, 250);
    grid-area: 1/1/3/2;
    height: 100%;
    display: grid;
    color: white;
    font-weight: 600;
    padding-left: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 300px 200px;
    gap: 40px;
    box-shadow: 1px 1px gray;
    z-index: 2;
}

.header {
    border: solid black 1px;
    background-color: white;
    grid-area: 1/2/2/3;
}

.side {
    order: solid black;
    grid-column: 2/3;
}

.brand-name {
    font-size: 1.3rem;
    grid-column: 2/3;
}

.main {
    background-color: rgb(230, 228, 228);
    grid-area: 2/2/3/3;
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(auto-fill,minmax(100px,50%));
}

.navigation, .settings, .brand {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: repeat(auto-fill,minmax(20px,40px));
    gap: 5px;
    align-items: center;
    margin-top: 10px;
}

.header {
    display: grid;
    box-shadow: 1px 1px 2px lavender;
    z-index: 2;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding-left: 20px;
    align-items: center;
}

#search {
    border-radius: 10px;
    width: 100%;
    outline: none;
    border: none;
    background-color: lightgray;
    height: 20px;
}

.button-group {
    grid-area: 2/2/3/3;
    display: grid;
    gap:10px;
    grid-template-columns: repeat(auto-fit,minmax(80px,1fr));
    justify-items: flex-end;
    padding: 5px;
}

img {
    border-radius: 50%;
    height: 100px;
    grid-area: 1/1/2/2;
}

.img-prof {
    border-radius: 50%;
    height: 30px;
    grid-area: 1/2/2/3;
}

.user {
    grid-area: 2/1/3/2;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    gap: 15px;
    align-items: center;
}

#greeting {
    grid-area: 1/2/2/3;
    align-self:flex-end;
}

#hi {
    grid-area: 1/2/2/3;
    align-self: flex-start;
}

.profile {
    grid-area: 1/2/2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: unset;
    align-items: center;
    justify-items: center;
    padding: 15px;
}

.projects {
    grid-row: 1/3;   
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,30%));
    grid-template-rows: repeat(auto);
    gap: 20px;
}


.card {
    height: 200px;
    background-color: rgb(247, 244, 241);
    border-radius: 15px;
    box-shadow: 1px 1px 6px gray;
    padding: 20px;
    border-left: 10px solid rgb(204, 151, 37)
}

.icon {
    height: 20px;
    float: right;
    padding: 5px;
    margin-top: 20px;
}

.announce-card, .trending-container {
    background-color: rgb(247,244,241);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 1px 1px 5px gray;
}

h5 {
    margin-bottom: 5px;
}

p {
    margin-top: 5px;
}

.trending-container {
    display: grid;
    
}

.trending-card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
}

.icon-trend {
    height: 30px;
    grid-column: 1/2;
    grid-row: 1/4;
    align-self: center;
}

.trending-handle {
    grid-area: 1/2/2/3;
    align-self: flex-end;
    margin-bottom: 2px;
}

.trending-user {
    grid-area: 2/2/3/3;
    align-self: flex-start;
}

button {
    border-radius: 15px;
    outline: none;
    border: none;
    background-color:rgb(42, 137, 226);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80px;
    box-shadow: 1px 1px 2px 1px lightgray;
    font-weight: 600;
}

.side-icon {
    height: 1.3rem;
    grid-column: 1/2;
    grid-row: auto;
}

.holder {
    height: 30px;
    grid-area:1/1/2/2;
}